.main {width: 100%;
		height:100%;
	display: block;
}

.back1 {
		width: 100%;
		height:100%;
		position: absolute;
		display: block;
		background-color: black;
		background-image: url('../img/1.png');
		background-repeat: no-repeat;
		background-size: cover;
		
}

.move {  position: relative;
  		width: 100%;
  		height: 100%;
  		background-attachment: fixed;
  		background-size: cover;
  		overflow: hidden}



 @-webkit-keyframes anima2 {
	0% {margin-left: 0%; width: 0%;}
	100% {margin-left: 0%; width: 100%;}
}

 .move1 {height: 20%;
 		width: 0%;
 		 animation-name: anima2;
 		 animation-duration: 2s;
 		 background-color: black;
 		 animation-delay: 3s;
 		 animation-fill-mode: forwards;}

 .move1:hover {height: 20%;
 				width: 100%;
 				margin-left: 0%;
 }
 .move2 {height: 20%;
 	width: 0%;
 		 animation-name: anima2;
 		 animation-duration: 3s;
 		 background-color: black;
 		animation-delay: 3s;
 	animation-fill-mode: forwards;}

  .move2:hover {height: 20%;
 				width: 100%;
 				margin-left: 100%;
 }
 .move3 {height: 20%;
 	width: 0%;
 		 animation-name: anima2;
 		 animation-duration: 1.5s;
 		 background-color: black;
 		animation-delay: 3s;
 	animation-fill-mode: forwards;}

 .move3:hover {height: 20%;
 				width: 100%;
 				margin-left: 100%;
 }

 .move4 {height: 20%;
 	width: 0%;
 		 animation-name: anima2;
 		 animation-duration: 2s;
 		 background-color: black;
 		animation-delay: 3s;
 	animation-fill-mode: forwards;}

 .move4:hover {height: 20%;
 				width: 100%;
 				margin-left: 100%;
 }
 .move5 {height: 20%;
 	width: 0%;
 		 animation-name: anima2;
 		 animation-duration: 2.5s;
 		 background-color: black;
 		animation-delay: 3s;
 	animation-fill-mode: forwards;}

 .move5:hover {height: 20%;
 				width: 100%;
 				margin-left: 100%;
 }


.back2 {width:100%;
		height:100%;
		position: absolute;
		animation-name: anima1;
 		 animation-duration: 6s;
 		 background-color: black;		
		background-image: url('../img/2.png');
			background-repeat: no-repeat;
			background-size: cover}

.back2:hover {width: 100%;
				height:100%;
				margin-left: 0px;}

@-webkit-keyframes anima1 {
	0% {opacity: 0;}
	90%{opacity: 0;}
	100% {opacity: 1;}
}


/*.move6 {height: 20%;
 		 animation-name: anima3;
 		 animation-duration: 2s;
 		 animation-delay: 3s;
 		 animation-fill-mode: forwards;
 		 background-color: #FA452B;}

 .move6:hover {height: 20%;
 				width: 0%;
 				margin-left: 100%;
 }
 .move7 {height: 20%;
 		 animation-name: anima3;
 		 animation-duration: 3s;
 		 background-color: #FA452B;
 		animation-delay: 3s;
 	animation-fill-mode: forwards;}

  .move7:hover {height: 20%;
 				width: 0%;
 				margin-left: 100%;
 }
 .move8 {height: 20%;
 		 animation-name: anima3;
 		 animation-duration: 1.5s;
 		 background-color: #FA452B;
 		animation-delay: 3s;
 	animation-fill-mode: forwards;}

 .move8:hover {height: 20%;
 				width: 0%;
 				margin-left: 100%;
 }

 .move9 {height: 20%;
 		 animation-name: anima3;
 		 animation-duration: 2s;
 		 background-color: #FA452B;
 		animation-delay: 3s;
 	animation-fill-mode: forwards;}

 .move9:hover {height: 20%;
 				width: 0%;
 				margin-left: 100%;
 }
 .move10 {height: 20%;
 		 animation-name: anima3;
 		 animation-duration: 2.5s;
 		 background-color: #FA452B;
 		animation-delay: 3s;
 	animation-fill-mode: forwards;}

 .move10:hover {height: 20%;
 				width: 0%;
 				margin-left: 100%;
 }
 @-webkit-keyframes anima3 {
	0% {margin-left: 0%; width: 100%;}
	100% {margin-left: 100%; width: 0%;}
}